body{
    text-align:center;
}
h1{
    font-size: 40px;
    font-weight:300px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#app{
    background-color:rgba(0, 255, 89, 0.63);
}
#games{
    background-color:rgba(157, 255, 0, 0.9);
}
.line{
    height:6px;
    background-color:rgba(96, 34, 222, 0.933);
    margin:8px auto;
    width:80px;
}